# Enable Rewrite Engine

RewriteEngine On



# Redirect all requests to index.php

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.php [L]
#php_flag display_startup_errors on
#php_flag display_errors on
#php_flag html_errors on
#php_flag log_errors on


# Domain Authentication: Allow only a specific domain

# Replace 'example.com' with your domain

#SetEnvIf Host ^example.com$ AUTHORIZED_DOMAIN



# Deny access if the domain does not match

#Order Deny,Allow

#Deny from all

#Allow from env=AUTHORIZED_DOMAIN

#####THE FOLLOWING IS REQUIRED FOR PROTECTED FOLDERS
AuthUserFile /home/vol1_7/ezyro.com/ezyro_37851463/htdocs///.htpasswd.4f517285a19e5e65298d2f99ad611453
AuthName password_required
AuthType Basic
Require valid-user
########END REQUIRE